body {
  font-family: montserrat;
  color: grey;
  background-image: url(./../../assets/img/background.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.menu {
  font-family: montserrat;
  color: grey;
  margin-top: 50px;
}
.header {
  font-family: montserrat;
  color: grey;
  margin-top: 30px;
}
.img-fluid {
  width: 210px;
  height: 105px;
}
